#1. Write a code to reverse a string

In [8]:
str=input("Enter any string:")
print("The string is ",str)
rev=""
for i in str:
    rev=i+rev
print(rev)

Enter any string: data science

The string is  data science
ecneics atad

 #2. Write a code to count the number of vowels in a string.

In [6]:
str=input("Enter any string:")
str=str.lower()
count=0
for i in str:
    if((i=='a')or(i=='e')or(i=='i')or(i=='o')or(i=='u')):
        count=count+1
print("The string is ",str,"and number of vowels is ",count)

Enter any string: hello world

The string is  hello world and number of vowels is  3

#3.  Write a code to check if a given string is a palindrome or not.

In [11]:
# Palindrome means the string is same as its reverse.
str=input("Enter any string:")
rev=""
for i in str:
    rev=i+rev
if str==rev:
    print(str,"is a palindrome.")
else:
    print(str,"is not a palindrome.")

Enter any string: madam

madam is a palindrome.

#4. Write a code to check if two given strings are anagrams of each other.

In [15]:
#An anagram of a string is another string that contains the same characters,only the order of characters can be different.
str1=input("enter first string:")
str2=input("enter second string:")
anagram=sorted(str1)==sorted(str2)
if anagram==True:
    print("Anagram")
else:
    print("Not an Anagram")

enter first string: listen
enter second string: silent

Anagram

#5. Write a code to find all occurrences of a given substring within another string.

In [19]:
str=input("Enter a string:")
substr=input("Enter a substring:")
str.count(substr)

Enter a string: I am anju.I am studying e3.I am currently staying in ongole.I am a good girl.
Enter a substring: I

4

#6. Write a code to perform basic string compression using the counts of repeated characters.

In [82]:
s=input("Enter a string:")
comp=[]
count=1
for i in range(1,len(s)):
    if s[i]==s[i-1]:
        count=count+1
    else:
        comp.append(s[i-1]+str(count))
        count=1
print(comp)

Enter a string: aabbcd

TypeError: 'str' object is not callable

#7. Write a code to determine if a string has all unique characters.

In [21]:
str=input("Enter a string:")
uniq=""
for i in str:
    if i not in uniq:
        uniq+=i
if str==uniq:
    print("all characters are unique in ",str)
else:
    print("characters are not unique in ",str)

Enter a string: abcdd

characters are not unique in  abcdd

#8. Write a code to convert a given string to uppercase or lowercase.

In [24]:
str=input("Enter a string:")
print(str.upper())
print(str.lower())

Enter a string: Hello

HELLO
hello

#9.  Write a code to count the number of words in a string.

In [26]:
str=input("Enter a string:")
count=1
for i in str:
    if i==" ":
        count=count+1
print("The given string contains ",count,"words.")

Enter a string: I am Anju and I am learning Data Science.

The given string contains  9 words.

#10. Write a code to concatenate two strings without using the + operator.

In [31]:
str1=input("enter first string:")
str2=input("enter second string:")
print(f"{str1}{str2}")
print("{}{}".format(str1,str2))
print("%s%s"%(str1,str2))

enter first string: cup
enter second string: board

cupboard
cupboard
cupboard

#11. Write a code to remove all occurrences of a specific element from a list.

In [35]:
list1=[1,2,3,6.4,"anu","ravi","anu","rani","anu"]
element=input("Enter element to remove:")
res=[]
for i in list1:
    if i!=element:
        res.append(i)
print(res)

Enter element to remove: anu

[1, 2, 3, 6.4, 'ravi', 'rani']

#12. Implement a code to find the second largest number in a given list of integers.

In [42]:
list1=[21,98,35,68,1,42,58,77,98,68]
uniq_list=list(set(list1))
uniq_list.sort()
uniq_list
print("The second largest element in the list is",uniq_list[-2])

The second largest element in the list is 77

#13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [46]:
list1=[1,2,3,6.4,"anu",1,"ravi",1,2,"anu","rani",6.4,"anu",3]
uniq=list(set(list1))
dict1={}
for i in uniq:
    dict1[i]=list1.count(i)
print(dict1)

{1: 3, 2: 2, 3: 2, 'rani': 1, 6.4: 2, 'anu': 3, 'ravi': 1}

#14. Write a code to reverse a list in-place without using any built-in reverse functions

In [49]:
list1=[1,2,3,6.4,"anu",(4+5j),"ravi",True,"rani"]
temp=list1[:]
n=len(list1)
for i in range(n):
    list1[i]=temp[n-i-1]
list1

['rani', True, 'ravi', (4+5j), 'anu', 6.4, 3, 2, 1]

#15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [51]:
list1=[1,3,2,2,1,4,5,3]
list2=[]
for i in list1:
    if i not in list2:
        list2.append(i)
print(list2)

[1, 2, 3, 4, 5]

#16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [55]:
list1=[12,23,34,45,56,67,78]
ascend=descend=True
for i in range(1,len(list1)):
    if list1[i]<list1[i-1]:
        ascend=False
    if list1[i]>list1[i-1]:
        descend=False
print(ascend or descend)

True

#17. Write a code to merge two sorted lists into a single sorted list.

In [83]:
list1=[1,3,5,7]
list2=[2,4,6,8]
merged_list=[]
i=j=0
while i<len(list1) and j<len(list2):
    if list1[i]<list2[j]:
        merged_list.append(list1[i])
        i=i+1
    else:
        merged_list.append(list2[j])
        j=j+1
while i<len(list1):
    merged_list.append(list1[i])
    i=i+1
while j<len(list2):
    merged_list.append(list2[j])
    j=j+1
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

#18. Implement a code to find the intersection of two given lists.

In [58]:
list1=["math","sci","hin","eng"]
list2=["math","sst","tel","eng"]
list3=[]
for i in list1:
    if i in list2:
        list3.append(i)
print(list3)

['math', 'eng']

#19. Create a code to find the union of two lists without duplicates.

In [59]:
list1=["math","sci","hin","eng"]
list2=["math","sst","tel","eng"]
for i in list2:
    if i not in list1:
        list1.append(i)
print(list1)

['math', 'sci', 'hin', 'eng', 'sst', 'tel']

#20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [85]:
import random
def shuffle_list(arr):
    for i in range(len(arr) - 1, 0, -1):
        j = random.randint(0, i)
        arr[i], arr[j] = arr[j], arr[i]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("Original List:", my_list)
shuffle_list(my_list)
print("Shuffled List:", my_list)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Shuffled List: [5, 1, 2, 9, 7, 6, 4, 3, 8]

#21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [61]:
tup1=(1,2,3,4,5)
tup1=set(tup1)
tup2=(3,4,5,6,7)
tup2=set(tup2)
res=tup1 & tup2
print(tuple(res))

(3, 4, 5)

#22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

In [70]:
set1=input("enter first set of integers separated by commas:")
set2=input("enter second set of integers separated by commas:")
set1=set(map(int,set1.split(',')))
set2=set(map(int,set2.split(',')))
print(set1 & set2)

enter first set of integers separated by commas: 1,2,3,4,5
enter second set of integers separated by commas: 3,4,5,6,7

{3, 4, 5}

#23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [71]:
def concatenate(tup1,tup2):
    res=tup1+tup2
    return res
tuple1=(1,2,3,4)
tuple2=(3,4,5)
concatenate(tuple1,tuple2)

(1, 2, 3, 4, 3, 4, 5)

#24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [86]:
set1=input("Enter first set of strings separated by commas:")
set2=input("Enter second set of strings separated by commas:")
set1=set(set1.split(','))
set2=set(set2.split(','))
print(set1-set2)

Enter first set of strings separated by commas: one,two,three,four
Enter second set of strings separated by commas: three,four,five,six

{'one', 'two'}

#25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [90]:
def slice_tuple(tup,start,end):
    return tup[start:end]
tuple1=(12,23,34,45,56,67,78,89)
start_index=int(input("enter starting index:"))
end_index=int(input("enter ending index:"))
slice_tuple(tuple1,start_index,end_index)

enter starting index: 1
enter ending index: 4

(23, 34, 45)

#26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [92]:
set1=input("Enter first set of characters separated by commas:")
set2=input("Enter second set of characters separated by commas:")
set1=set(set1.split(','))
set2=set(set2.split(','))
print(set1|set2)

Enter first set of characters separated by commas: a,b,c,d,e,f
Enter second set of characters separated by commas: e,f,a,g,h,i

{'d', 'g', 'i', 'a', 'e', 'b', 'c', 'f', 'h'}

#27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

In [94]:
#Tuple unpacking refers to the process of assigning individual elements of a tuple to multiple variables in a single statement. 
def find_min_max(tup):
    min_val,max_val=min(tup),max(tup)
    return min_val,max_val
tuple1=(12,98,67,88,34,56,11,23)
min_val,max_val=find_min_max(tuple1)
print(f"minimum value is {min_val} and maximum value is {max_val}")

minimum value is11 and maximum value is98

#28.  Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

In [95]:
set1=input("Enter first set of integers separated by commas:")
set2=input("Enter second set of integers separated by commas:")
set1=set(set1.split(','))
set2=set(set2.split(','))
print(set1|set2)
print(set1&set2)
print(set1-set2)

Enter first set of integers separated by commas: 1,2,3,4,5
Enter second set of integers separated by commas: 3,4,5,6,7,8

{'1', '4', '8', '6', '2', '7', '5', '3'}
{'5', '4', '3'}
{'1', '2'}

#29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

In [96]:
tup=(1,2,3,4,5,4,3,2,3)
element=int(input("Enter the element to count:"))
tup.count(element)

Enter the element to count: 3

3

#30.  Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

In [97]:
set1=input("Enter first set of strings separated by commas:")
set2=input("Enter second set of strings separated by commas:")
set1=set(set1.split(','))
set2=set(set2.split(','))
print(set1^set2)

Enter first set of strings separated by commas: 1,2,3,4,5
Enter second set of strings separated by commas: 3,4,5,6,7

{'1', '6', '2', '7'}

#31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [100]:
list1=["one","two","three","one","four","two","four","five","six","six","four"]
list2=list(set(list1))
dict1={}
for i in list2:
    dict1[i]=list1.count(i)
print(dict1)

{'two': 2, 'one': 2, 'four': 3, 'five': 1, 'three': 1, 'six': 2}

#32. Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

In [101]:
def merge_dictionaries(dict1, dict2):
    merged_dict = {}
    for key, value in dict1.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value
        else:
            merged_dict[key] = value
    return merged_dict
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c': 25, 'd': 5}
merged = merge_dictionaries(dict1, dict2)
print("Merged Dictionary:", merged)

Merged Dictionary: {'a': 10, 'b': 35, 'c': 55, 'd': 5}

#33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [105]:
def get_nested_value(d, keys):
    current_value = d
    for key in keys:
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]
        else:
            return None
    return current_value
nested_dict = {'a': {'b': {'c': 10}}}
keys = ['a', 'b', 'c']
value = get_nested_value(nested_dict, keys)
print("Value:", value)
keys = ['a', 'b', 'd']
value = get_nested_value(nested_dict, keys)
print("Value:", value)

Value: 10
Value: None

#34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You 
can choose whether to sort in ascending or descending order.

In [103]:
def sort_dict_by_values(d, ascending=True):
    sorted_dict = dict(sorted(d.items(), key=lambda item: item[1], reverse=not ascending))
    return sorted_dict
my_dict = {'apple': 10, 'banana': 5, 'cherry': 7}
sorted_dict_asc = sort_dict_by_values(my_dict, ascending=True)
print("Sorted Dictionary (Ascending):", sorted_dict_asc)
sorted_dict_desc = sort_dict_by_values(my_dict, ascending=False)
print("Sorted Dictionary (Descending):", sorted_dict_desc)

Sorted Dictionary (Ascending): {'banana': 5, 'cherry': 7, 'apple': 10}
Sorted Dictionary (Descending): {'apple': 10, 'cherry': 7, 'banana': 5}

#35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [104]:
def invert_dictionary(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict
original_dict = {'a': 1,'b': 2,'c': 1,'d': 3}
inverted = invert_dictionary(original_dict)
print("Inverted Dictionary:", inverted)

Inverted Dictionary: {1: ['a', 'c'], 2: ['b'], 3: ['d']}